test:
  bool: true
  long: 99999999111199999
  float: 0.45
  string: string
  time: 2019-01-14 20:07:00
  duration: 3s
  slice:
    - A
    - B
    - C
  slice2: A,B,C
  map:
    k1: v1
    k2: v2
    k3: v3


